.glass {
    background: linear-gradient(209.36deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    color: white;
}

.glass-secondary {
    background: linear-gradient(209.36deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%);
    filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.w-100 {
    width: 100%;

}

.w-80 {
    width: 80%;
}

.overflow-h{
    overflow: hidden;
}

.overflow{
    overflow: auto;
}


.br-20 {
    border-radius: 20px;
}

.br-20-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.br-20-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hr {
    height: 2px;
    background-color: #e0e0e070;
    border: none;
    position: relative;
}
