@mixin padding($size, $direction: null) {
    @if $direction ==null {
        padding: $size;
        padding-left: $size;
        padding-right: $size;
        padding-top: $size;
        padding-bottom: $size;
    }

    @else {
        @if $direction =='x' {
            padding-left: $size;
            padding-right: $size;
        }

        @else if $direction =='y' {
            padding-top: $size;
            padding-bottom: $size;
        }

        @else if $direction =='l' {
            padding-left: $size;
        }

        @else if $direction =='r' {
            padding-right: $size;
        }

        @else {
            padding-#{$direction}: $size;
        }
    }
}

@mixin margin($size, $direction: null) {
    @if $direction ==null {
        margin: $size;
        margin-left: $size;
        margin-right: $size;
        margin-top: $size;
        margin-bottom: $size;
    }

    @else {
        @if $direction =='x' {
            margin-left: $size;
            margin-right: $size;
        }

        @else if $direction =='y' {
            margin-top: $size;
            margin-bottom: $size;
        }

        @else {
            margin-#{$direction}: $size;
        }
    }
}

@mixin boton($background-color) {
    $darkened-color: darken($background-color, 10%);
    
    button {
        margin-top: 1.4rem;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: $background-color;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: $darkened-color;
        }
    }
}

@mixin media-query($device) {
    @if $device == desktop {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }

    @else if $device == tablet {
        @media only screen and (min-width: 768px){
            @content;
        }
    }

    @else if $device == mobile {
        @media only screen and (min-width: 576px) {
            @content;
        }
    }

    @else {
        @warn "Dispositivo no reconocido. Por favor, elige entre 'desktop', 'tablet' o 'mobile'.";
    }
}
